.event {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}

.title{
    margin-left: 3%;
    color: var(--tg-theme-text-color);
}

.date {
    margin-left: 3%;
    color: var(--tg-theme-text-color);
}